#container {
  position: absolute;
  top: auto;
  width: 100vw;
  height: 94vh;
  background: url(../../utils/images/Home_img.png);
  background-size: cover;
}

.welcome {
  color: snow;
  font-size: 60px;
  font-family:Georgia, 'Times New Roman', Times, serif
}  

h2 {
  color: #5517B6;
}

.content-table {    
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 1222px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h1 {
  color: #07a585;
}
b {
  color: #07a585;
}

.content-table thead tr {
  background-color: #07a585;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
